/Frontend/money_monday/android
/Frontend/money_monday/ios
/Frontend/money_monday/linux
/Frontend/money_monday/macos/Runner.xcworkspace
/Frontend/money_monday/macos
/Frontend/money_monday/web
/Backend/app/__pycache__
/Backend/app/__pycache__
/Backend/app/__pycache__
/Backend/app/routers/__pycache__
