# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
windows/build/
windows/flutter/ephemeral/

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# System files
.DS_Store
*.log
*.tmp
*.swp

# Python
*.pyc

# Misc
*.class
.history
.atom/
.svn/
